extends layout
block content
    .admin-panel.clearfix
      .slidebar
        ul
          li
            a#targeted(href="#dashboard")
            | Administrator
          li
            a#targeted(href="/ao") Add Farmer one
          li
            a(href="/ao/foList") Manage Farmer One
          li
            a(href="/fo/farmerList") Manage Farmers
          li
            a(href="/farmer/pList") Manage Products
                  
      .dash_display
         header.card-header
          h4.card-title Welcome 

          table.table
              if fos.length
                thead
                    tr
                        th Firstname
                        th Lastname
                        th gender
                        th ward
                        th role
                        th phone
                        th regdate
                        th products
                        th
                tbody
                  each fo in fos
                    tr
                        td=fo.fname
                        td=fo.lname
                        td=fo.gender
                        td=fo.ward
                        td=fo.role
                        td=fo.reg_phone
                        td=fo.reg_date
                        td=fo.product 
                        td  
                            a(href='/ao/foupdate/'+fo._id) Update