extends layout
block content
    .admin-panel.clearfix
      .slidebar
        ul
          li
            a#targeted(href="/ao/aoregister") Add Farmer one
          li
            a(href="#") Manage Farmer One
          li
            a(href="#") Manage Farmers
          li
            a(href="#") Manage Products
          li
            a(href="#") Report
          li
            a(href="#") Logout
        
      .dash_display
         header.card-header
          h4.card-title Welcome 

          table.table
              if fos.length
                thead
                    tr
                        th Firstname
                        th Lastname
                        th gender
                        th ward
                        th role
                        th 
                        th
                tbody
                  each fo in fos
                    tr
                        td=fo.fname
                        td=fo.lname
                        td=fo.gender
                        td=fo.ward
                        td=fo.role
                        td  
                            a(href='/update/'+fo._id) Update
                        td
                          a(href='/update/'+fo._id) Update
