extends layout
block content
    .admin-panel.clearfix
      .slidebar
         ul
          li
            a#targeted(href="/ao") Add Farmer one    
          li
            a(href="/ao/foList") Manage Farmer One
          li
            a(href="/fo/farmerList") Manage Farmers
          li
            a(href="/farmer/pList") Manage Products
          li
            form(method="post" action='/logout') 
              button.btn.btn-dark.btn-block(type="submit") Log out 
               
      .dash_display
        header.card-header
            h4.card-title Welcome 
            form(method="POST" action='/ao/foupdate?id='+fo._id)
                table.table
                .form-row
                  .col
                    thead.thead
                    .form-row
                      .col-md-4.mb-3 
                        tr
                            th Firstname
                            td #{fo.fname}    
                      .col-md-4.mb-3 
                        tr
                            th Lastname
                            td #{fo.lname}
                      .col-md-4.mb-3 
                        tr
                            th Username
                            td #{fo.username}
                                //- input.form-control(value = fo.username name ="username")
                    .form-row            
                      .col-md-4.mb-3 
                        tr
                            th Date of birth
                            td #{fo.reg_dob}
                      .col-md-4.mb-3           
                        tr
                            th Phone Number
                            td
                              input.form-control( type="number" value = fo.reg_phone name ="reg_phone")
                      .col-md-4.mb-3        
                        tr
                            th NIN
                            td #{fo.reg_id}
                             
                    .form-row          
                      .col-md-4.mb-3 
                        tr
                            th Date of registration
                            td #{fo.reg_date}
                              
                      .col-md-4.mb-3 
                        tr
                            th Gender
                            td #{fo.gender}                              
                      .col-md-4.mb-3         
                        tr
                            th Farmer Ward
                            td #{fo.ward}
                                
                    .form-row                  
                      .col-md-4 
                        tr
                            th Prouct Type
                            td 
                                label Horticulture&nbsp 
                                input(value= "Horticulture" type="checkbox" checked =fo.product.includes('Horticulture') name="product")
                                label &nbspPoultry&nbsp
                                input(value= "Poultry" type="checkbox" checked =fo.product.includes('Poultry') name="product")
                                label &nbspDairy&nbsp
                                input(value= "Dairy" type="checkbox" checked =fo.product.includes('Dairy') name="product")
                                la
                                bel &nbspOthers&nbsp
                                input(value= "Others" type="checkbox" checked =fo.product.includes('Others') name="product")
                      .col.md-8  
                        .form-row     
                            .col-md-4.mb-3 
                              tr
                                  th Address:
                                  td #{fo.address}
                                      
                            .col-md-4.mb-3 
                              tr
                                  th Resident type:
                                  td #{fo.residence}
                                  
                            .col-md-6.mb-3 
                              tr
                                  th Role:
                                  td #{fo.role}
                                
                    .form-row             
                      .col   
                        tr
                            td(colspan=2)
                                //- input(type="hidden", placeholder="", name="id", value=fo._id)
                                button.btn.btn-dark.btn-block(type="submit") Update