extends layout
block content
    .admin-panel.clearfix
      .slidebar
        ul
          li
            a(href="#dashboard")
            | Administrator
          li
            a#targeted(href="/ao") Add Farmer one
          li
            a(href="/fo/farmerList") View Farmers
          li
            a(href="/farmer/pList") View Products
          li
            a(href="/farmer") Approve Products
          li
            a(href="#") Report
          li
            a(href="/logout") Logout

        
      .dash_display
        header.card-header
        h4.card-title Welcome
        table.table
              if products.length
                thead
                    tr
                        th Product 
                        th Category
                        th Unit Price
                        th ward
                        th Quantity
                        th Added by
                        th Image
                        th status
                        th
                        th
                        
                        
                tbody
                  each product in products
                    tr
                        td #{product.pName}
                        td=product.pCategory
                        td=product.pUnitPrice
                        td=product.ward
                        td=product.pQuantity
                        td=product.farmerUserID
                        
                        td   
                          img(src='/uploads/'+product.prodImage height='200px' width='200px')
                        td=product.pStatus
                        td=product.status
                        td  
                            form(action="/fo/pApprove" method="post")
                                input(type="hidden", placeholder="", name="status", value=product.status)
                                button.btn.btn-success(type="submit") Approve
                      
