extends layout
block content
    .admin-panel.clearfix
      .slidebar
         ul
          li
            a#targeted(href="#dashboard")
            | Administrator
          li
            a(href="/farmer/pAdd") Add Products
          li
            a(href="/farmer/pList") View Products
          li
            a(href="/farmer/Order") Orders                 
          li
            a(href="#Report") Report
          li
            a(href="/logout") Logout
      .dash_display
        header.card-header
          h4.card-title Welcome 
          table.table
              if products.length
                thead
                    tr
                        th Product 
                        th Category
                        th Unit Price
                        th ward
                        th Quantity
                        th Date
                        th Image
                        th 
                        
                        
                tbody
                  each product in products
                    tr
                        td #{product.pName}
                        td=product.pCategory
                        td=product.pUnitPrice
                        td=product.ward
                        td=product.pQuantity
                        td=product.pDate
                        td 
                          img(src='/uploads/'+product.prodImage height='200px' width='200px')
                        td=product.pStatus

                        td  
                            a(href='pList/pUpdate/'+product._id) Details
                      
                        //- td
                        //-     form(method="post" action='/farmer/delete')
                        //-         input(type="hidden", placeholder="", name="delete_id", value=products._id)
                        //-         button.btn.btn-dark.btn-block(type="submit") Del
