extends layout
block content
    div#product
      |Massajja farmers beyayala ku UFARM
      .form-row
        div.col.form-group.col   
          form.search(action='/')
            div.form-row
                    div.col-md-8
                        input.name(name='pName' placeholder="Search product by product name...")
                    div.col-md-2
                        input.btn.btn-dark.btn-block(type="submit" value="search") 
          .row
            if products.length
              each product in products
                .col-md-4
                  .card-deck
                    .card
                      img.card-img-top(src='/uploads/'+product.prodImage height='200px' width='200px')
                      .card-body
                      p.card-title Fresh juicy tomatomatoes #{product.pName}
                        p.card-text Price UGX #{product.pUnitPrice}
                        p.card-text Availabe Quantity #{product.pQuantity}
                        p.card-text Pay using: #{product.paymentMode}
                        p.text Delivery Mode:#{product.deliveryMode}
  
                      .card-footer
                        small.text-muted Added on #{product.pdate}
                        button(type="button" class="btn btn-success btn-sm") Order
                        button(type="button" class="btn btn-info btn-sm") Book
